{% extends "layout.html" %} 
{% set page_title="My Blog" %} 
{% from "macros.html" import blog_post %} 

{% block heading %}
<div class="header-container">
  <h1>Codewizard's Blog</h1>
</div>
{% endblock %} 

{% block content %}
<div class="post-container">
  <p>You published {{total_posts}} posts so far.</p>
  {% for post in posts %} 
    {{ blog_post(post, False) }} 
  {% endfor %}
</div>
<nav>
  <ul class="pagination justify-content-center" id="links">
    {% if current_page > 1 %}
      <li class="page-item">
        <a class="page-link" href="{{url_for('home_page', page=current_page-1)}}">
          <i class="bi bi-chevron-double-left"></i>
        </a>
      </li>
    {% endif %} 
    {% for page_num in range(1, pages+1) %} 
      {% if (page_num == current_page) %}
        <li class="page-item active">
          <a class="page-link" href="{{url_for('home_page', page=page_num)}}">
            {{page_num}}
          </a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="{{url_for('home_page', page=page_num)}}">
            {{page_num}}
          </a>
        </li>
      {% endif %} 
    {% endfor %} 
    {% if current_page < pages %}
      <li class="page-item">
        <a class="page-link" href="{{url_for('home_page', page=current_page+1)}}">
          <i class="bi bi-chevron-double-right"></i>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
