{% extends "layout.html" %} {% set page_title="My Blog" %} {% block content %}
<div class="about-container">
  <div class="card mx-auto" style="max-width: 400px;">
    <div class="card-body">
      <h2 class="card-title">Welcome to the Codewizards blog</h2>
      <p class="card-text">
        Fun fact: Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s
      </p>
      <a class="btn btn-success" href="{{url_for('home_page')}}"
        >Back to blog</a
      >
    </div>
  </div>
</div>
{% endblock %}
